<%- model_class = Topic -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_user_topic_path(current_user),
            :class => 'btn btn-primary' %>

<br />
<br />

<% unless @topics.empty? %>
<ul class="nav nav-tabs nav-stacked">
  <% @topics.each do |topic| %>
  <li>
  <%= link_to '#FIXME' do %>
    <%= topic.title %>
    <br />
    <%= content_tag :small, topic.description %>
    (<%= content_tag :small, l(topic.created_at) %>)

    <%# <%= link_to t('.edit', :default => t("helpers.links.edit")), %>
    <%#             edit_user_topic_path(current_user, topic), :class => 'btn btn-mini' %1> %>
    <%# <%= link_to t('.destroy', :default => t("helpers.links.destroy")), %>
    <%#             user_topic_path(current_user, topic), %>
    <%#             :method => 'delete', %>
    <%#             :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, %>
    <%#             :class => 'btn btn-mini btn-danger' %1> %>
  <% end %>
  </li>
  <% end %>
</ul>
<% end %>

