<%- model_class = Topic -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_user_topic_path(current_user),
            :class => 'btn btn-primary' %>

<br />
<br />

<% unless @topics.empty? %>
<ul class="nav nav-tabs nav-stacked">
  <% @topics.each do |topic| %>
  <li>
  <%= link_to user_topic_dailylogs_path(current_user, topic) do %>
    <%= topic.title %>
    <br />
    <%= content_tag :small, topic.description %>
    (<%= content_tag :small, l(topic.created_at) %>)
  <% end %>
  </li>
  <% end %>
</ul>
<% end %>

