<div class="page-header">
  <h1>
    <%= start_date.year %>.<%= start_date.month %>: <%= @topic.title %>
    <small>
      <%= @topic.description %>
    </small>
  </h1>
</div>


<%= link_to t('.edit', :default => t("helpers.links.edit")),
            edit_user_topic_path(current_user, @topic), :class => 'btn' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            user_topic_path(current_user, @topic),
            :method => 'delete',
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
            :class => 'btn btn-danger' %>

<script type="text/javascript">
  function drawChart(_data, options) {
    // var data = google.visualization.arrayToDataTable(_data);
    var rows = jQuery(_data).map(function() {
      // adjust 0 for chat
      var row = [{v: new Date(this.date.replace(/-/g, "/") + " 00:00:00"), f: this.date}];

      if (typeof this.score !== "undefined") {
        row.push({v: this.score});
      }

      return {c: row};
    }).toArray();

    var data = new google.visualization.DataTable(
      {
        cols: [
          {id: 'date', label: 'Date', type: 'date'},
          {id: 'score', label: 'Score', type: 'number'}
        ],
        rows: rows
      }
    );

    var chart = new google.visualization.LineChart(jQuery("#chart_div").get(0));
    chart.draw(data, options);
  }
  google.setOnLoadCallback(function() {
    drawChart(chartData, chartOptions);
  });
  jQuery(window).on("resize", function() { drawChart(chartData, chartOptions); });
  jQuery(document).on("page:load", function() { drawChart(chartData, chartOptions); });
</script>
<%
  chart_data   = @dailylogs.map{|date, dailylog|
    dailylog.score ? {date: date, score: dailylog.score.to_f} : {date: date}
  }
  chart_values = @dailylogs.map{|_, dailylog|
    dailylog.score
  }.compact.presence || [0]
%>
<script type="text/javascript">
  var chartData = <%== chart_data.to_json %>;
  var chartOptions = <%== {interpolateNulls: true, pointSize: 5, vAxis: {minValue: chart_values.min.to_f, maxValue: chart_values.max.to_f}}.to_json %>;
</script>
<div class="row">
<div id="chart_div" class="span12" style="height: 200px;"></div>
</div>


<ul class="pager">
  <li class="previous">
  <%= link_to user_topic_dailylogs_path(current_user, @topic, year: start_date.prev_month.year, month: start_date.prev_month.month) do %>
    &larr; Previous
  <% end %>
  </li>
  <li class="next">
  <%= link_to user_topic_dailylogs_path(current_user, @topic, year: start_date.next_month.year, month: start_date.next_month.month) do %>
    Next &rarr;
  <% end %>
  </li>
</ul>

<ul class="nav nav-tabs nav-stacked">
  <%
    @dailylogs.each do |date, dailylog|
      link_path = dailylog.new_record? ?
        new_user_topic_dailylog_path(current_user, @topic, logged_on: date) :
        edit_user_topic_dailylog_path(current_user, @topic, dailylog)
  %>
  <li>
  <%= link_to link_path do %>
    <%=l date %>
    <%= content_tag :span, dailylog.score, class: badge_class(dailylog.degree) %>
    <% if dailylog.memo.present? %>
      (<%= content_tag :small, (dailylog.memo) %>)
    <% end %>
  <% end %>
  </li>
  <% end %>
</ul>

<ul class="pager">
  <li class="previous">
  <%= link_to user_topic_dailylogs_path(current_user, @topic, year: start_date.prev_month.year, month: start_date.prev_month.month) do %>
    &larr; Previous
  <% end %>
  </li>
  <li class="next">
  <%= link_to user_topic_dailylogs_path(current_user, @topic, year: start_date.next_month.year, month: start_date.next_month.month) do %>
    Next &rarr;
  <% end %>
  </li>
</ul>
